In [1]:
import pandas as pd

In [7]:
animals = ['Tiger', 'Bear', 'Moose']
apd = pd.Series(animals)

In [9]:
apd.values, apd.keys

(array(['Tiger', 'Bear', 'Moose'], dtype=object),
 <bound method Series.keys of 0    Tiger
 1     Bear
 2    Moose
 dtype: object>)

In [10]:
import numpy as np

In [12]:
# Not a number
np.isnan(np.nan)

True

In [13]:
x = [1,2,None]
y = pd.Series(x)

In [15]:
np.isnan(y[2])

True

In [16]:
s = pd.Series(animals, index=['India', 'America', 'Canada'])

In [19]:
s['India']

'Tiger'

In [24]:
# Set index to lowercase
s.index = map(lambda y: y.lower(), s.index)

In [25]:
s['india']

'Tiger'

In [36]:
s.iloc[0], s.loc['india'], 'Oh My'

('Tiger', 'Tiger', 'Oh My')

In [39]:
s[0], s['india'], 'Oh My'

('Tiger', 'Tiger', 'Oh My')

Use iLoc to be explict when accessing by index

In [40]:
s = pd.Series([100,120,101,3])

In [44]:
total = np.sum(s)
print(total)

324

In [45]:
s = pd.Series(np.random.randint(0, 1000, 100000))

In [46]:
s.size

100000

In [47]:
s.head()

0    352
1    962
2     14
3    752
4    678
dtype: int64

In [50]:
%%timeit -n 100
summary = 0
for item in s:
    summary += item

8.75 ms ± 250 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [51]:
%%timeit -n 100
summary = np.sum(s)

441 µs ± 46.8 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

Using numpys sum etc metods is a lot faster

In [56]:
# Add 2 to each value
s += 2
s.head()

0    362
1    972
2     24
3    762
4    688
dtype: int64

In [57]:
s = pd.Series([1,2,3])
s.loc['Animal'] = 'Bears'

In [58]:
s.iloc[0]

1

In [59]:
s.index

Index([0, 1, 2, 'Animal'], dtype='object')

In [61]:
original_sports = pd.Series({ 'Archery': 'Bhutan',
                            'Golf': 'Scotland',
                            'Sumo': 'Japan'})
cricket_loving = pd.Series(['Australia', 'England', 'Pakistan'], index=['Cricket' for x in range(3)])

In [63]:
all_countries = original_sports.append(cricket_loving)

In [66]:
all_countries['Cricket'].iloc[0]

'Australia'

Series([], Name: Points, dtype: float64)